.sign-in {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

.sign-in-form {
    display: grid;
    justify-items: center;

    &_title {
        width: 100%;
        margin-top: 6.6rem;
    }
    
    &_email {
        margin-top: 7.7rem;
    }
    
    &_password {
        margin-top: 4rem;
    }
    
    &_login {
        margin-top: 8.8rem;
    }
    
    &_text-links {
        margin-top: 5.2rem;
    }
}