.sign-in {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

.sign-in-form {
    display: grid;
    justify-items: center;

    &_title {
        width: 100%;
    }
    
    &_email {
        
    }
    
    &_password {

    }
}